<ng-container *ngIf="pokemon">
  <mat-card class="card animate__animated animate__fadeIn">
    <mat-card-header class="card-header">
      <mat-card-title>{{ pokemon.name | lowercase }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <img [src]="pokemon.pic | safe" [alt]="pokemon.name" loading="lazy" />
    </mat-card-content>

    <mat-card-actions class="card-actions">
      <button
        [disabled]="inTeam"
        mat-icon-button
        color="warn"
        (click)="addToTeam()"
      >
        <mat-icon *ngIf="!pokemon.inTeam">favorite_border</mat-icon>
        <mat-icon *ngIf="pokemon.inTeam">favorite</mat-icon>
      </button>
      <button
        [disabled]="!pokemon.notCustom"
        mat-icon-button
        color="primary"
        (click)="seeDetails()"
      >
        <mat-icon>visibility</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
