@import "../../../../../assets/styles/base";

.form {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-width: 50vw;
  padding: 3rem 1rem;
  text-align: center;

  h2 {
    letter-spacing: 5px;
  }

  .group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    @media (min-width: 991px) {
      flex-direction: row;
    }

    mat-form-field {
      min-width: 48%;
    }
  }

  .input-img {
    visibility: hidden;
  }

  .btn-container {
    @include center;
  }
}
