<mat-toolbar>
  <nav class="nav">
    <ul class="nav-list" *ngIf="!(isMobile$ | async); else mobileNav">
      <li routerLink="/home" routerLinkActive="active" class="nav-list-item">
        Home
      </li>
      <li
        routerLink="/pokemons/list"
        routerLinkActive="active"
        class="nav-list-item"
      >
        List
      </li>
      <li
        routerLink="/pokemons/form"
        routerLinkActive="active"
        class="nav-list-item"
      >
        Create
      </li>
      <li
        routerLink="/pokemons/team"
        routerLinkActive="active"
        class="nav-list-item"
      >
        My Team
      </li>
    </ul>
  </nav>
</mat-toolbar>

<ng-template #mobileNav>
  <div>
    <button (click)="handleClick()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</ng-template>
