<mat-toolbar>
  <nav class="nav">
    <ul class="nav-list">
      <li routerLink="/home" routerLinkActive="active" class="nav-list-item">
        Home
      </li>
      <li
        routerLink="/pokemons/list"
        routerLinkActive="active"
        class="nav-list-item"
      >
        List
      </li>
      <li
        routerLink="/pokemons/form"
        routerLinkActive="active"
        class="nav-list-item"
      >
        Form
      </li>
      <li
        routerLink="/pokemons/team"
        routerLinkActive="active"
        class="nav-list-item"
      >
        Team
      </li>
    </ul>
  </nav>
</mat-toolbar>
