<pok-search (emitSearch)="searchPokemons($event)"></pok-search>

<ng-container *ngIf="pokemons$ | async as pokemons; else loading">
  <pok-list-grid
    (listEmitter)="updateList($event)"
    [pokemons]="pokemons"
  ></pok-list-grid>

  <div class="empty" *ngIf="!pokemons.length && empty">
    <h3 class="jt --debug">
      <span class="jt__row">
        <span class="jt__text">There are no pokemons with that name...</span>
      </span>
      <span class="jt__row jt__row--sibling" aria-hidden="true">
        <span class="jt__text">There are no pokemons with that name...</span>
      </span>
      <span class="jt__row jt__row--sibling" aria-hidden="true">
        <span class="jt__text">There are no pokemons with that name...</span>
      </span>
      <span class="jt__row jt__row--sibling" aria-hidden="true">
        <span class="jt__text">There are no pokemons with that name...</span>
      </span>
    </h3>
  </div>
</ng-container>

<ng-template #loading>
  <pok-spinner></pok-spinner>
</ng-template>
