@import "../../../../../assets/styles/base";

:host {
  .card {
    cursor: pointer;

    img {
      max-height: 378px;
      width: 100%;
    }

    mat-card-header {
      @include center;
    }

    mat-card-title {
      font-weight: bolder;
      letter-spacing: 5px;
      text-align: center;
      width: 100%;
    }
  }
}
