@import "../../../../../assets/styles/base";

:host {
  padding: 1rem;

  .card {
    cursor: pointer;
    max-height: 100%;
    max-width: 100%;

    mat-card-content {
      @include center;

      img {
        border-radius: 1rem;
        max-width: 100%;
        object-fit: fill;
      }
    }

    mat-card-header {
      @include center;
    }

    mat-card-title {
      font-weight: bolder;
      letter-spacing: 5px;
      text-align: center;
      width: 100%;
    }
  }
}
