<nav class="nav">
  <ul class="nav-list">
    <li
      (click)="handleLinkClick()"
      routerLink="/home"
      routerLinkActive="active"
      class="nav-list-item"
    >
      Home
    </li>
    <li
      (click)="handleLinkClick()"
      routerLink="/pokemons/list"
      routerLinkActive="active"
      class="nav-list-item"
    >
      List
    </li>
    <li
      (click)="handleLinkClick()"
      routerLink="/pokemons/form"
      routerLinkActive="active"
      class="nav-list-item"
    >
      Create
    </li>
    <li
      (click)="handleLinkClick()"
      routerLink="/pokemons/team"
      routerLinkActive="active"
      class="nav-list-item"
    >
      My Team
    </li>
  </ul>
</nav>
