@import "../../../../../assets/styles/base";

:host {
  padding: 0 1rem;
  .login-form {
    min-width: 50vw;

    h2 {
      letter-spacing: 5px;
      text-align: center;
      text-transform: uppercase;
    }

    mat-form-field {
      width: 100%;
    }

    .btn-container {
      @include center;
    }
  }
}
