<ng-container *ngIf="pokemons$ | async as pokemons">
  <pok-list-grid
    *ngIf="pokemons.length > 0; else noPokemons"
    [pokemons]="pokemons"
  ></pok-list-grid>
</ng-container>

<ng-template #noPokemons>
  <section class="no-pokemons">
    <h3 class="jt --debug">
      <span class="jt__row">
        <span class="jt__text">There are no pokemons on your team yet...</span>
      </span>
      <span class="jt__row jt__row--sibling" aria-hidden="true">
        <span class="jt__text">There are no pokemons on your team yet...</span>
      </span>
      <span class="jt__row jt__row--sibling" aria-hidden="true">
        <span class="jt__text">There are no pokemons on your team yet...</span>
      </span>
      <span class="jt__row jt__row--sibling" aria-hidden="true">
        <span class="jt__text">There are no pokemons on your team yet...</span>
      </span>
    </h3>
  </section>
</ng-template>
